/* ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   autoMounts = true
}

process {

   container = 'docker://quay.io/cbio/16s-rdna-dada2-pipeline'

   withName: runFastQC {
   container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC {
     container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runFastQC_postfilterandtrim {
     container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC_postfilterandtrim {
    container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   errorStrategy = 'retry'
   maxRetries = 5
   maxErrors = 1000

   executor = 'slurm'
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

params {
   max_memory = 230.GB
   max_cpus = 32
   max_time = 72.h
}
