// Need to specify in separate aws.config
// aws {
//  accessKey = 'your-access-key'
//  secretKey = 'your-secret-key'
//  region = 'your-region'
//}
// process.queue = 'your-queue'
// aws.batch.cliPath = 'path-to-cli'
// aws.batch.jobRole = 'your-role-arn'
// Then run nextflow run -c aws.config

process.executor = 'awsbatch'

docker {
  enabled = true
  autoMounts = true
}

process {

   container = 'quay.io/h3abionet_org/16s-rdna-dada2-pipeline'

   withName: runFastQC {
   container='quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC {
     container='quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runFastQC_postfilterandtrim {
     container='quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC_postfilterandtrim {
    container='quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: GenerateTreeFasttree {
         container = 'quay.io/biocontainers/fasttree:2.1.10--h14c3975_3'
    }

    withLabel: QIIME2 {
          container = 'quay.io/h3abionet_org/qiime2'
     }

   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   time = 24.h
   errorStrategy = 'retry'
   maxRetries = 1
   maxErrors = 1000
   memory =  4.GB
   cpus = 2
}

params {
   max_memory = 384.GB
   max_cpus = 40
   max_time = 72.h
}
