
/*
 * -------------------------------------------------
 *  University of Cape Town HEX cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/index.php/hex-3/
 */

singularity {
   enabled = true
   autoMounts = true
}

process {
   container = "/data/runs/4000-samples_dada2/1a32017e5935-2018-05-31-db3a9cebe9fc.img";
   
   withName: runFastQC {
    container='/data/runs/4000-samples_dada2/h3abionet_org_h3a16s-fastqc.img';
   }
  
   withName: runMultiQC {
     container='/data/runs/4000-samples_dada2/h3abionet_org_h3a16s-fastqc.img';
   } 
 
   withName: runFastQC_postfilterandtrim {
     container='/data/runs/4000-samples_dada2/h3abionet_org_h3a16s-fastqc.img';
   }

   withName: runMultiQC_postfilterandtrim {
    container='/data/runs/4000-samples_dada2/h3abionet_org_h3a16s-fastqc.img';
   }
   
   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   executor = 'pbs'
   queue = 'workq'
   time = 24.h
   errorStrategy = 'retry'
   maxRetries = 5
   maxErrors = 1000
   memory =  4.GB
   cpus = 1
}

executor{
   jobName = { "$task.tag" }
   queueSize = 1000
}

params {
   max_memory = 64.GB
   max_cpus = 32
   max_time = 672.h
}




