/*
 * -------------------------------------------------
 *  University of Cape Town HPC cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/index.php/hex-3/
 */

singularity {
   enabled = true
   cacheDir = "/bb/DB/bio/singularity-containers/"
   singularity.autoMounts = true
}

process {
   //container = "/bb/DB/bio/singularity-containers/16s-rdna-dada2-pipeline.img";
   container = 'docker://quay.io/cbio/16s-rdna-dada2-pipeline'
   
   withName: runFastQC {
   container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
    //container='/bb/DB/bio/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   }
  
   withName: runMultiQC {
     container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
     //container='/bb/DB/bio/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   } 
 
   withName: runFastQC_postfilterandtrim {
     container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
     //container='/bb/DB/bio/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   }

   withName: runMultiQC_postfilterandtrim {
    container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
    //container='/bb/DB/bio/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   }
   
   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   executor = 'slurm'
   queue = 'ada'
   time = 24.h
   errorStrategy = 'retry'
   maxRetries = 5
   maxErrors = 1000
   clusterOptions = '--account cbio'
   memory =  4.GB
   cpus = 1
}

executor{
   jobName = { "$task.tag" }
   queueSize = 10
   submitRateLimit = '10 min'
}

params {
   max_memory = 384.GB
   max_cpus = 40
   max_time = 72.h
}
