/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   cacheDir = "/ceph/cbio/users/katie/singularity_containers/" 
}

   /*--------------------------------*
 	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
   
   process {
   container = "/ceph/cbio/users/katie/singularity_containers/9d18129de60e-2018-12-13-2cd6f8399ddd.img";
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main'
   
   withName: runFastQC {
    container='/ceph/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
   }
  
   withName: runMultiQC {
     container='/ceph/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
   } 
 
   withName: runFastQC_postfilterandtrim {
     container='/ceph/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
   }

   withName: runMultiQC_postfilterandtrim {
    container='/ceph/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
   }
   
   
