singularity {
   enabled = true
   autoMounts = true
}

process {

   container = 'docker://quay.io/h3abionet_org/16s-rdna-dada2-pipeline'

   withName: runFastQC {
   container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC {
     container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runFastQC_postfilterandtrim {
     container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC_postfilterandtrim {
    container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: GenerateTreeFasttree {
         container = 'docker://quay.io/biocontainers/fasttree:2.1.10--h14c3975_3'
    }

    withLabel: QIIME2 {
          container = 'docker://quay.io/h3abionet_org/qiime2'
     }

   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   time = 24.h
   errorStrategy = 'retry'
   maxRetries = 1
   maxErrors = 1000
   memory =  4.GB
   cpus = 2
   executor = 'local'
}

params {
   max_memory = 384.GB
   max_cpus = 40
   max_time = 72.h
}
