docker {
   enabled = true
}

process {

   container = 'docker://quay.io/cbio/16s-rdna-dada2-pipeline'

   withName: runFastQC {
   container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC {
     container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runFastQC_postfilterandtrim {
     container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC_postfilterandtrim {
    container='docker://quay.io/h3abionet_org/h3a16s-fastqc'
   }

   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   time = 24.h
   errorStrategy = 'retry'
   maxRetries = 1
   maxErrors = 1000
   memory =  4.GB
   cpus = 1
   executor = 'local'
}

params {
   max_memory = 384.GB
   max_cpus = 40
   max_time = 72.h
}
