/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 #
 *   nextflow run TADA -profile test_illumina,<docker/singularity>
 * 
 */

params {
   reads="$HOME/test-data/pacbio/*_R{1,2}.fastq.gz" 
   trimFor=24
   trimRev=25
   reference="$HOME/ref-data/silva_nr_v132_train_set.fa.gz"
   species="$HOME/ref-data/silva_species_assignment_v132.fa.gz"
   outdir="$HOME/out"
   runTree="fasttree"
}

process {
   container = 'ghcr.io/h3abionet/tada:dev'

   withName: runFastQC {
      container='quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC {
      container='quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runFastQC_postfilterandtrim {
      container='quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: runMultiQC_postfilterandtrim {
      container='quay.io/h3abionet_org/h3a16s-fastqc'
   }

   withName: GenerateTreeFasttree {
      container = 'quay.io/biocontainers/fasttree:2.1.10--h14c3975_3'
   }

   withLabel: QIIME2 {
      container = 'quay.io/h3abionet_org/qiime2'
   }

   stageInMode = 'symlink'
   stageOutMode = 'rsync'
}

params {
   // config settings.  NYI
   // config_profile_name = 'Test profile'
   // config_profile_description = 'Minimal test dataset to check pipeline function'

   // Limit resources so that this can run on GitHub Actions
   max_cpus = 2
   max_memory = 6.GB
   max_time = 12.h
}
