/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run h3abionet/TADA -profile test_pacbio,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test PacBio 16S profile'
    config_profile_description = 'Test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '24.GB'
    max_time   = '6.h'

    // Input data
    platform        = 'pacbio'
    input           = 'https://file-server.igb.illinois.edu/~cjfields/TADA/samplesheet.pacbio.16s.csv'
    for_primer      = 'AGRGTTYGATYMTGGCTCAG'
    rev_primer      = 'RGYTACCTTGTTACGACTT'
    run_tree        = 'fasttree'
    min_read_len    = 1000
    max_read_len    = 1800
    reference       = 'https://file-server.igb.illinois.edu/~cjfields/TADA/silva_nr99_v138.1_wSpecies_train_set.fa.gz'
    run_tree        = 'fasttree'
}
