singularity {
   enabled = true
   autoMounts = true
}

process {

   container = '/cbio/containers/16s-rdna-dada2-pipeline.simg'

   withName: runFastQC {
   container='/cbio/containers/h3a16s-fastqc.simg'
   }

   withName: runMultiQC {
     container='/cbio/containers/h3a16s-fastqc.simg'
   }

   withName: runFastQC_postfilterandtrim {
     container='/cbio/containers/h3a16s-fastqc.simg'
   }

   withName: runMultiQC_postfilterandtrim {
    container='/cbio/containers/h3a16s-fastqc.simg'
   }

   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   time = 24.h
   errorStrategy = 'retry'
   maxRetries = 1
   maxErrors = 1000
   memory =  4.GB
   cpus = 2
   executor = 'local'
}

params {
   max_memory = 384.GB
   max_cpus = 40
   max_time = 72.h
}
